<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133129889305-t19rlksn7kprnrdndu63m2s6713idlg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133129889305-t19rlksn7kprnrdndu63m2s6713idlg5</string>
	<key>API_KEY</key>
	<string>AIzaSyA0foBY0AteaqIrIlUPF3HDRfz4ZK6YLeo</string>
	<key>GCM_SENDER_ID</key>
	<string>133129889305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mineo.jp.mac.pop.Itemism</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-9c6fe</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-9c6fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133129889305:ios:e9548b682979d98709ec88</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-9c6fe.firebaseio.com</string>
</dict>
</plist>